/* Write your code here. */
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  height: 100vh;
  width: 60%;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
}
.card {
  background-color: #cffafe;
  height: 250px;
  width: 250px;
}
.card-container {
  padding: 20px;
}

@media (min-width: 768px) {
  .bg-container {
    width: 100%;
  }
  .card {
    background-color: #cffafe;
    height: 400px;
    width: 400px;
  }
}
